<!DOCTYPE html>
<html lang="en">

<head>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

  function previewFile(input) {
    var file = $("input[type=file]").get(0).files[0];

    if (file) {
      var reader = new FileReader();
      var prev = document.getElementById("previewImg")
      var x = ""
      reader.onload = function () {
        $("#previewImg").attr("src", reader.result);
        prev.style.visibility = "visible"
        x = reader.result
      }
      reader.readAsDataURL(file);
      console.log(x)

    }
  }
</script>

<style>
  img {
    max-width: 450px;
    max-height: 450px;
  }
</style>

<body align="center">
  <div class="container-fluid bg-3 text-center">
    <h3>"aasdfdsafsadf"</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>

      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
    </div>

  </div>
  <>
    <h1> Your drug result</h1>
    <br>
    <h1 id="result"></h1>
    <br>

    <form id="upload" method="POST" action="/upload">
      <h1>Put your drug in here</h1>
      <input type="file" id="imgInput" name="imgInput" onchange="previewFile(this);" required multiple accept="image/*">
      <p>
      <img id="previewImg" src="" alt="Placeholder" style="visibility: hidden;">
      <p>
      <input id="submit" type="submit" value="submit">
    </form>
    <script>
      // $("#submit").click(function () {
        $("#upload").submit(function (e) {
          $("#result").text("predicting result...")
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
            type: "POST",
            url: "/predict_drug",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
              console.log("result", result)
              $('#result').text("Your result : "+result)
            },
            error: function (e) {
              console.log("some error", e);
            }
          });

        })
      // })

    </script>
</body>

</html>