<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3>"aasdfdsafsadf"</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <button onclick="window.location='/pizza'"> GO TO REAL PIZZA PREDICTION</button>
  <button onclick="window.location='/drug'"> GO TO REAL DRUG PREDICTION</button>
</div>
</body>
</html>